/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FFC107;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #FFC107;
}

/* 自定义字体 */
@font-face {
    font-family: '霞鹜文楷';
    src: url('https://cdn.jsdelivr.net/gh/ramsayi/src/fonts/LXGWWenKai/LXGWWenKaiLite-Bold.ttf');
}

/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

/*半透明*/

/*文章*/
.layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,.7);
  }
  
  /*主页文章*/
  #recent-posts > .recent-post-item {
    background: rgba(255,255,255,.7);
  }
  
  /*侧边栏*/
  #aside-content .card-widget {
    background: rgba(255,255,255,.7);
  }
  /*黑暗模式*/
  [data-theme="dark"] 
  .layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,.3);
  }
  [data-theme="dark"] 
  #recent-posts > .recent-post-item {
    background: rgba(255,255,255,.3);
  }
  [data-theme="dark"]     
  #aside-content .card-widget {
    background: rgba(255,255,255,.3);
  }

/* 底部按钮圆角 */
#rightside > div > button, #rightside > div > a{
    margin-bottom: 6px;
}
#rightside>div>a, #rightside>div>button {
    border-radius: 12px;
}

/* 卡片毛玻璃效果 */
div#post:hover{
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgb(255 255 255 / 70%);
}
[data-theme="dark"]
div#post:hover{
    background-color: rgb(255 255 255 / 30%);
}
#aside-content .card-widget:hover{
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgb(255 255 255 / 70%);
    border-radius: 8px;
}
[data-theme="dark"]
#aside-content .card-widget:hover {
    background-color: rgb(255 255 255 / 30%);
}
div#recent-posts .recent-post-item:hover{
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgb(255 255 255 / 70%);
}
[data-theme="dark"]
div#recent-posts .recent-post-item:hover{
    background-color: rgb(255 255 255 / 30%);
}
div#page:hover{
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgb(255 255 255 / 70%);
}
[data-theme="dark"]
div#page:hover{
    background-color: rgb(255 255 255 / 30%);
}
