/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #304FFE;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #304FFE;
}

/* 自定义字体 */
@font-face {
    font-family: '霞鹜文楷';
    src: url('https://cdn.jsdelivr.net/gh/ramsayi/src/fonts/LXGWWenKai/LXGWWenKaiLite-Bold.ttf');
}

/* 底部按钮圆角 */
#rightside > div > button, #rightside > div > a{
    margin-bottom: 6px;
}
#rightside>div>a, #rightside>div>button {
    border-radius: 12px;
}
