/* 文章内容 */
#article-container code:hover {
  transition: all 0.3s ease-in-out;
  background-color: #57bd6a;
}
#article-container img {
  border-radius: 0;
}
/* 目录 悬停 */
.toc-link:hover {
  background-color: #899fff4e;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
/* 目录 */
#aside-content #card-toc .toc-content {
  max-height: calc(-170px + 100vh);
}
#aside-content #card-toc .toc-content .toc-link.active {
  background-color: #899fff4e;
  font-size: unset;
}
/* PDF 嵌入 */
embed[type="application/pdf"] {
  height: 100vh;
}
/* 关于本人页面的技能 SVG Logo */
#skills-tags-group-all .tags-group-icon img {
  width: 90px;
}
/* 关于本人页面的技能 SVG 小Logo */
.skills .skill-icon img {
  width: 22px;
  height: 22px;
}
/* 关于本人页面的技能 SVG 小Logo 滚动条 */
.author-content-item.skills .skills-style-group {
  overflow: scroll;
  overflow-x: hidden;
}
