/* 分类高亮 */
.category-lists a[id="/categories/踩坑记录/"],
.category-lists a[id="/categories/参考手册/"],
.category-lists a[id="/categories/技术学习/"],
.category-lists a[id="/categories/建站博客/"],
.category-lists a[id="/categories/逆向破解/"],
.category-lists a[id="/categories/项目规范/"],
.category-lists a[id="/categories/效率办公/"] {
  background-color: rgb(219, 255, 217) !important;
}

.category-lists #\2F categories\2F 踩坑记录\2F:hover,
.category-lists #\2F categories\2F 参考手册\2F:hover,
.category-lists #\2F categories\2F 技术学习\2F:hover,
.category-lists #\2F categories\2F 建站博客\2F:hover,
.category-lists #\2F categories\2F 逆向破解\2F:hover,
.category-lists #\2F categories\2F 项目规范\2F:hover,
.category-lists #\2F categories\2F 效率办公\2F:hover {
  background-color: rgb(87, 189, 106) !important;
}

/* 天气 */
#he-plugin-simple a {
  background-color: transparent !important;
}

/* 安知鱼 上班 下班 */
#workboard .workSituationImg {
  display: none !important;
}

/* 卡片高斯模糊 */
.sticky_layout .card-widget,
.recent-post-item,
#post {
  background-color: #ffffff33 !important;
  backdrop-filter: blur(20px) !important;
}

/* 代码悬停 */
code:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(87, 189, 106) !important;
}